*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}





/* ESTILOS - BARRA DE OPCIONES */

header nav{
    background-color: rgb(255, 255, 255);
    border: 4px dotted rgb(202, 202, 202);
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin: 1px;
    padding: 1.3rem;
    padding-right: 3rem;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(21, 21, 34);
    font-weight: bold;
}



/* ESTILOS DEL HEADER */
header{
    background-color: #edede8;
}

header .header-principal{
    width: 100%;
    height: 30rem;
    
}

header .header-principal h1{
    text-align: center;
    padding-top: 3.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: aliceblue;
}

header .header-principal{
    padding-top: 2rem;
}

header .header-principal .container .back{
    /* display: flex; */
    background-image: url(./img/back-title.jpg);
    margin: 1rem;
    width:auto;
    height: 20rem;
    border-radius: 4rem;
}

header .header-principal p{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
}



/* ESTILOS DEL MAIN */

main{
    background-color: #edede8;
    display: inline-flexbox;
    justify-content: center;
    /* padding-left: 1%; */
    padding-top: 1rem;
    color: rgb(22, 22, 37);
    text-align: center;
    /* padding-bottom: 10px; */
}

main .title-projects{
    display: flex;
    justify-content: center;
}


main .blog .box .princ{
    width: 100%;
    height: 210px;
    border-radius: 8px;
    display: inline-block;
    justify-content: center;
}

main .blog .box .tec{
    padding-top: 15px;
    width: 30px;
}

main .blog{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

main .blog .box{
    width: 90%;
    height: 48rem;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(236, 236, 236);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

main .blog .box:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

main .blog .box h1{
    margin-top: 28px;
    justify-content: center;
    font-size: 2rem;
}

main .blog .box p{
    margin-top: 10px;
    justify-content: center;
    font-size: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

main .blog .box .mas{
    padding-top: 1rem;
}

main .blog .box a{
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(0, 61, 59);
    font-weight: bolder;
}



/* ESTILOS CONTENIDO EXTRA MAIN */

main .sobre-mi .father-box{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

main .sobre-mi .father-box .title h1{
    font-size: 2.2rem;
    color: aliceblue;
    font-family: system-ui;
    line-height: 115%;
    padding: 4rem;
    padding-top: 5rem;
}

main .sobre-mi .father-box .title{
    background-image: url(./img/back22.jpg);
    height: 28rem;
    border-radius: 4rem;
}


/* ESTILOS TARJETAS */

/* main .sobre-mi .father-box .div-box-fath{
    padding-left: rem;
} */

main .sobre-mi .box{
    margin-top: 3rem;
    /* padding-right: 5rem; */
    background-image: url(./img/back.jpg);
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.625);
    cursor: default;
    transition: all 300ms ease;
}

main .sobre-mi .box:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.627);
    transform: translateY(-5%);
}


main .sobre-mi .box p{
    padding: 2rem;
    font-size: 2rem;
    color: aliceblue;
    font-weight:bolder;
}

main{
    padding-bottom: 6rem;
}




/* ESTILOS FOOTER */

footer{
    background-color: #000;
    /* padding: 3rem; */
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}

footer .redes a img{
    width: 30px;
    margin: 20px;
}

