:root{
    --amarillo-button: #E9D259;
    --boton-blue: #0F4F8A;
    --color-texto: rgb(51, 51, 51);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}

/* ESTILOS - BARRA DE OPCIONES */

header nav{
    background-color: rgb(255, 255, 255);
    border: 4px dotted rgb(202, 202, 202);
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin: 20px;
}

header nav ul li{
    padding-top: 3rem;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(21, 21, 34);
    font-size: 2rem;
    font-weight: bold;
}




/* Estilos Contenido */

main{
    background-color: #edede8;
    display:inline-flexbox;
    justify-content: center;
    padding-left: 10%;
    padding-top: 5rem;
    color: rgb(22, 22, 37);
    text-align: center;
    padding-bottom: 50px;
}



main .container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 35rem;
    padding-left: 19rem;
}


main .container .content h1{
    font-size: 4rem;
    color: rgb(230, 243, 255);
    font-family: system-ui;
    line-height: 115%;
    padding: 4rem;
    padding-top: 6rem;
}

main .container .content{
    background-image: url(./img/back-history.jpg);
    height: auto;
    border-radius: 4rem;
    margin: 3rem;
}

main .container .content p{
    padding: 5rem;
    font-size: 2rem;
    color: aliceblue;
    font-weight:bolder;
}



/* FOOTER */

footer{
    background-color: #000;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

footer .redes a img{
    width: 40px;
    margin: 20px;
}
