:root{
    --amarillo-button: #E9D259;
    --boton-blue: #0F4F8A;
    --color-texto: rgb(51, 51, 51);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}

/* ESTILOS - BARRA DE OPCIONES */

header nav{
    background-color: rgb(255, 255, 255);
    border: 4px dotted rgb(202, 202, 202);
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin: 20px;
}

header nav ul li{
    padding-top: 3rem;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(21, 21, 34);
    font-size: 2rem;
    font-weight: bold;
}


/* ESTILOS DE FONDO DE HEADER */

header{
    background-color: #121212;
    padding-bottom: 8rem;
}

header .header-principal{
    width: 100%;
    height: 55rem;
    
}

header .header-principal h1{
    padding-left: 20rem;
    padding-right: 20rem;
    text-align: center;
    padding-top: 8rem;
    /* background: #ccc;
    background: linear-gradient(rgb(255, 255, 0), rgb(255, 170, 0), rgb(135, 0, 189), #6200cc );
    font-family: system-ui;
    font-size: 10rem;
    line-height: 115%;
    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    font-size: 10rem;
    font-weight: bold;
    color: aliceblue;
}

header .header-principal .container .back{
    background-image: url(./img/back.jpg);
    width: 120rem;
    height: 50rem;
    border-radius: 4rem;
}

header .header-principal .container{
    padding-left: 15rem;
    padding-top: 5rem;
}

header h2{
    font-size: 5rem;
    color: #6200cc;
    text-align: center;
}

header .header-principal p{
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
}

/* ESTILOS DE TARJETAS */

main{
    background-color: #161616;
    display:inline-flexbox;
    justify-content: center;
    padding-left: 10%;
    padding-top: 5rem;
    color: rgb(251, 251, 255);
    text-align: center;
    padding-bottom: 50px;
}

main .title-projects{
    display: flex;
    justify-content: center;
}


main .blog .box .princ{
    width: 100%;
    height: 210px;
    border-radius: 8px;
    display: inline-block;
    justify-content: center;
}

main .blog .box .tec{
    padding-top: 15px;
    width: 30px;
}

main .blog{
    width: 100%;
    display: flex;
    padding-left: 6rem;
    max-width: 1100px;
    /* border-radius: 6px;
    overflow: hidden; */
}

main .blog .box{
    width: 100%;
    height: 52rem;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(39, 39, 39);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

main .blog .box:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}


main .blog .box h1{
    margin-top: 28px;
    justify-content: center;
    font-size: 2.3rem;
}

main .blog .box p{
    margin-top: 10px;
    justify-content: center;
    font-size: 1.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

main .blog .box .mas{
    padding-top: 2.7rem;
}

main .blog .box a{
    font-size: 1.9rem;
    text-decoration: none;
    color: rgb(0, 255, 225);
    font-weight: bolder;
}


main .container{
    display: flex;
    /* justify-content: center; */
    padding-left: 50rem;
    padding-top: 6rem;
}


main .solicitud-boton a{
    padding-top: 5rem;

}

main .sobre-mi .father-box{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 35rem;
    padding-left: 19rem;
}

main .sobre-mi .father-box .title h1{
    font-size: 4rem;
    color: aliceblue;
    font-family: system-ui;
    line-height: 115%;
    padding: 4rem;
    padding-top: 6rem;
}

main .sobre-mi .father-box .title{
    background-image: url(./img/back22.jpg);
    height: 28rem;
    border-radius: 4rem;
}

main .sobre-mi .father-box .div-box-fath{
    padding-left: 2rem;
}

main .sobre-mi .box{
    margin-top: 3rem;
    width: 80rem;
    height: 20rem;
    background-image: url(./img/back.png);
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.593);
    cursor: default;
    transition: all 300ms ease;
}

main .sobre-mi .box:hover{
    box-shadow: 5px 5px 10px rgb(42, 42, 42);
    transform: translateY(-5%);
}

main .sobre-mi .box p{
    padding: 5rem;
    font-size: 2rem;
    color: aliceblue;
    font-weight:bolder;
}

main .sobre-mi .father-box .box{
    background-image: url(./img/back.jpg);
}








/* FOOTER */
footer{
    background-color: #000;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

footer .redes a img{
    width: 40px;
    margin: 20px;
}


